.efficacy0 {
	width: 691px; 
	height: 391px; 
	left: 165px; 
	background-image: url(../images/efficacy/module.png);
	position: absolute;
}

.efficacy_background {
	position: absolute;
	top: 0px;
	background: url(../images/efficacy/clotman_6.png);
	background-position: -8px -55px;
	background-repeat: no-repeat;
	width: 100%;
	height: 716px;
}
